parameters:
  level: 5
  paths:
    - src
  ignoreErrors:
    - '#Call to an undefined static method think\\facade\\Db::query\(\)#'
    - '#Call to an undefined static method think\\facade\\Db::execute\(\)#'
    - "#Function base_path not found.#"
    - "#Function root_path not found.#"
    - '#Method aspirantzhang\\octopusModelCreator\\command\\[a-zA-Z0-9\\_]+\\[a-zA-Z0-9\\_]+::execute\(\) should return int\|null but return statement is missing.#'
    - '#Call to an undefined method think\\db\\BaseQuery::leftJoin\(\).#'
